<h1>Search</h1>

<nav>
  <ul>
    <li>
      <%= link_to 'HOME', root_path %>
    </li>
    <li>
      <%= link_to 'BY GENRE', genres_path %>
    </li>
    <li>
      <%= link_to 'BY SONGS', songs_path %>
    </li>
    <li>
      <%= link_to 'BY ARTISTS', users_path %>
    </li>    
  </ul>
</nav>