<div class="row">
  <ul>
    <div class="twelve columns text-center">
    <img src="assets/home_background_new.jpg">
  </div>
  <div class="twelve columns text-center"><a href="/splash" class="button round">ENTER</a></div>

</ul>
</div>
